<div id="todo-page-container">
  <div id="header-section-container">
    <div class="header-section">
      <%= form_with scope: :todo, url: todos_path, local: true do |form| %>
        <div class="title-container">
          <div class="form-input-container">
            <p class="form-title"> HEROS <span class="form-title-b">TODO</p>
            <%= submit_tag("ADD") %>
            <%= form.text_field :todo %>
          </div>
          <div class="profile-image-container" id="profile-image-container">
            <img src="https://res.cloudinary.com/xrole/image/upload/v1577661794/BlueFlameIndoors/heroUser.jpg">
              <div class="control-container" id="control-container">
                <p>Profile</p>
                <%= link_to "Logout", 'sessions/destroy', method: 'delete', class: "link-style" %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="todo-list-section">
    <div class="date-section">
     <p> MONDAY </p>
     <div>
      <p>Date:</p>
     </div>
    </div>
    <div>
      <% @todos.each do |todo| %>
        <div class="todo-container">
          <div class="todo-container-inner">
            <p> <input type="checkbox" id= <%= todo.id %> name="vehicle" value="Bike"> <span class="todo"> <%= todo.todo %> </span> </p>
          </div>
          <div class="todo-container-actions">
            <div class="edit"> <p>Edit</p></div>
            <div class="delete">
              <%= link_to "Delete", todo_path(todo), method: 'delete', class: "link-style"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
